* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    flex-grow: initial;
    min-height: 88vh;
    max-height: 155vh;
    background-color: #fff;
    background-image: url("../images/bg-texture.png");
}
#main > article {
    flex: 1;
}
#main > nav {
    flex: 0 0 25vw;
    order: -1;
}

#search {
    height: 12vh;
}

#advertisements {
    flex-grow: initial;

}

aside {
    flex-grow: 1;
    min-height: 100vh;
}

header, footer {
    height: 6vh;
}

.validate-input {
    position: relative;
}

.card{
    background-color: rgba(255, 255, 255, 0.7) !important; /* 0.0 - полностью прозрачный */
}

.adCard:hover{
    background-color: rgba(230, 230, 230, 0.85) !important;
}

.adCard:after{
    background-color: rgba(255, 255, 255, 0.7) !important; /* 0.0 - полностью прозрачный */
}