* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
    background-image: url("../images/bg-texture.png");
}
#main > article {
    flex: 1;
}
#main > nav {
    flex: 0 0 25vw;
    order: -1;
}

#search {
    height: 12vh;
}

#advertisements {
    height: calc(100vh - 12vh);
}

aside {
    flex-grow: 1;
    min-height: 165vh;
}

header, footer {
    height: 6vh;
}

.validate-input {
    position: relative;
}