* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
    background-image: url("../images/bg-texture.png");
    justify-content: flex-start;
    flex-grow: 1;
}
#main > article {
    flex: 1;
}
#main > #images {
    flex: 0 0 55vw;
    /*max-height: 80vh;*/
    order: -1;
    margin: 1.5rem 1rem 1.5rem 1.5rem;

}

.carousel-item{
    display: flex !important;
}

.carousel-inner > .carousel-item > img {
    max-height: 65vh;
    width: auto !important;
}
.carousel{
    max-height: 65vh;
    width: auto !important;
}

#images{
    max-height: 70vh;
    max-width: 45vw !important;

    background-color: rgba(177, 182, 149,0.75);
    align-items: center !important;
    padding: 0.5rem;
}

aside {
    flex-grow: 1;
    min-height: 100vh;
}

#description {
    margin-left: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-right: 2rem !important;
    margin-bottom: 1.5rem;
    max-height: 70vh;
}

header, footer {
    height: 6vh;
}

.validate-input {
    position: relative;
}