@font-face {
    font-family: Rialtoc;
    src: url('../fonts/rialtoc/font/rialtoc.ttf') format('ttf');
    font-weight: 20;
    font-style: normal;
}

.nav-font-main-ws {
    color: whitesmoke !important;
    font-family: Rialtoc, serif !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.nav-font-ws {
    color: whitesmoke !important;
    font-family: Rialtoc, serif !important;
    font-size: 12px !important;
    font-weight: bolder !important;

}

.nav-font-main {
    font-family: Rialtoc, serif !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.nav-font {
    font-family: Rialtoc, serif !important;
    font-size: 12px !important;
    font-weight: bolder !important;

}

.command, .href{
    background-color: transparent !important;
    border:none;
}
