.pagination{
    justify-content: center !important;
}

.adCard{
    height: 150px;
    margin-bottom:.5rem!important
}

.adCard > .row {
    height:100%!important;
}

.adCard-img{
    display: flex;
    flex:0 0 auto;
    width:15% !important;
    max-height: 150px;
    align-items: center !important;
}

.adCard-img > img {
    max-width: 150px !important;
    max-height: 130px !important;
    border-radius: 0.25rem !important;
    margin-left:1.5rem!important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.card{
    background-color: rgba(255, 255, 255, 0.7) !important; /* 0.0 - полностью прозрачный */
}

.card-subtitle{
    margin-bottom:.5rem !important;
    margin-top: -5px !important;
    --bs-text-opacity:1;
    color:#6c757d!important
}

.card-text {
    display: flex;
    justify-content: flex-end !important;
}

.card-price{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

.adCard:hover{
    background-color: rgba(230, 230, 230, 0.85) !important;
}

.adCard:after{
    background-color: rgba(255, 255, 255, 0.7) !important; /* 0.0 - полностью прозрачный */
}

#sb{
    margin-left: 20px !important;
    border-radius: 0.25rem !important;
}

#searchForm > #search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    margin-bottom: 26px;
    margin-top: 20px;
}

#search > .input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    border-radius: 0.25rem !important;
    align-content: center !important;
    width: 50% !important;
}

.name{
    color: whitesmoke;
    font-style: normal;
}

.modal-body > .input-group-prepend > *{
    max-width: 20px;
}

